.folder-card {
  width: 200px;
  height: 130px;
  border-radius: 30px;
  border-radius: 30px;
  @import './rules/shadow.style';
  // Absolute cards backgrounds
  &.absolute-number-1 {
    background-image: url(/img/cards/folder/blob-scene-a.svg);
  }
  &.absolute-number-2 {
    background-image: url(/img/cards/folder/blob-scene-b.svg);
  }
  &.absolute-number-3 {
    background-image: url(/img/cards/folder/blob-scene-c.svg);
  }
  &.absolute-number-4 {
    background-image: url(/img/cards/folder/blob-scene-d.svg);
  }
  &.absolute-number-5 {
    background-image: url(/img/cards/folder/blob-scene-e.svg);
  }
  // Relative cards backgrounds
  &.relative-number-1 {
    background-image: url(/img/cards/gaia/blob-a.svg);
  }
  &.relative-number-2 {
    background-image: url(/img/cards/gaia/blob-b.svg);
  }
  &.relative-number-3 {
    background-image: url(/img/cards/gaia/blob-c.svg);
  }
  &.relative-number-4 {
    background-image: url(/img/cards/gaia/blob-d.svg);
  }
  &.relative-number-5 {
    background-image: url(/img/cards/gaia/blob-e.svg);
  }
  &.relative-number-6 {
    background-image: url(/img/cards/gaia/blob-f.svg);
  }
  &.relative-number-7 {
    background-image: url(/img/cards/gaia/blob-g.svg);
  }
  &.relative-number-8 {
    background-image: url(/img/cards/gaia/blob-h.svg);
  }
  &.relative-number-9 {
    background-image: url(/img/cards/gaia/blob-i.svg);
  }
  &.relative-number-10 {
    background-image: url(/img/cards/gaia/blob-j.svg);
  }
  &.relative-number-11 {
    background-image: url(/img/cards/gaia/blob-k.svg);
  }
  @import './rules/icon.style';
}