.main-card {
  width: 200px;
  height: 130px;
  border-radius: 30px;
  border-radius: 30px;
  @import './rules/shadow.style';
  &.number-1 {
    background-image: url(/img/cards/main/stacked-waves-a.svg);
  }
  &.number-2 {
    background-image: url(/img/cards/main/stacked-waves-b.svg);
  }
  &.number-3 {
    background-image: url(/img/cards/main/stacked-waves-c.svg);
  }
  &.number-4 {
    background-image: url(/img/cards/main/stacked-waves-d.svg);
  }
  &.number-5 {
    background-image: url(/img/cards/main/stacked-waves-e.svg);
  }
  @import './rules/icon.style';
  @import './rules/pseudo-classes.style';
}