/*@font-face {
  font-family: 'longcang';
  src: url('/public/fonts/long-cang.regular.ttf');
}*/
@font-face {
  font-family: 'silkscreen';
  src: url('/public/fonts/luckiestGuy-regular.ttf');
}

.topic-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #000000, -1px 1px 5px #484848;
  .topic-headline {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 0 10px;
    .topic-name {
      padding-top: 10px;
      color: #272b33;
      font-weight: 600;
      display: flex;
      span {
        font-family: 'silkscreen';
        font-size: 1rem;
      }
    }
    @import './rules/icon.style';
  }
  
  .topic-description {
    display: flex;
    justify-content: center;
    height: 40px;
    overflow: hidden;
    margin: 0 10px;
    margin-top: 2px;
    text-align: end;
    span {
      line-height: 10px;
      color: #6B6B6B;
      font-size: 1rem;
    }
  }
  // Imports backgrounds
  @import './rules/background.style';
  //@import './rules/shadow.style';
  //@import './rules/pseudo-classes.style';
}


@import './responsive/topic-card.responsive.scss';