#bushido-header {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 15px;
  #name-container {
    margin-left: 20px;
    flex-grow: 2;
    display: flex;
    color: #ffe3c4;
    span#dot {
      height: inherit;
      display: flex;
      padding-top: 9px;
      svg {
        width: 6px;
        height: 7px;
        color: #e6942c;
      }
    } 
  }
  #pages-container {
    flex-grow: 1;
    nav {
      a {
        margin-right: 80px;
        color: #ffe3c4;
        text-decoration: none;
        &:hover {
          color: #e6942c;
          font-weight: 600;
        }
      }
    }
  }
}