#offer-filter {
  display: flex;
  flex-direction: column;
  #filter-display {
    display: flex;
    align-items: center;
    color: #FFFFFE;
    background: #252525;
    padding: 10px;
    border-radius: 10px;
    #filter-action {
      flex: 1;
      display: flex;
      justify-content: center;
      &.active {
        svg {
          color:#f2604c;
          font-size: 20px;
        }
      }
      svg {
        cursor: pointer;
        &:hover {
          color: #f2604c;
        }
      }
      
    }
    #description {
      flex: 8;
      h1 {
        font-size: 1em;
        span.highlight {
          color: #F25F4C;
          font-weight: 400;
        }
      }
    }
    #price {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      #number {
        margin-top: 10px;
        height: 35px;
        color: #F25F4C;
        font-size: 1.7em;
      }
    }
  }
  #filter-configurator {
    flex: 1;
    position: relative;
    border-top: 1px solid #f2604c;
    #filter {
      width: 100%;
      padding: 20px 100px;
      position: absolute;
      background: rgb(37 37 37 / 80%);
    }
  }
}
/*transform: rotate(180deg);*/