@import "~/components/pages/styles/colors.scss";

#filter {
  display: flex;
  flex-direction: row;
  #info-block {
    display: flex;
    align-items: center;
    svg {
      color: $grey-legend-color;
      font-size: 20px;
    }
  }
  .offer-direction {
    display: flex;
    flex: 2;
    justify-content: center;
    height: 30px;
    .offer-switch {
      display: flex;
      cursor: pointer;
      .direction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        background-color: $white-color;
        color: $breadcrumbs-color;
      }
      .selected {
        background-color: $breadcrumbs-color;
        color: $white-color;
      }
    }
  }
  .offer-exchange {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    height: 30px;
    align-items: center;
    .exchange {
      background: $white-color;
      padding: 5px 20px;
      label {
        color: $breadcrumbs-color;
        cursor: pointer;
      }
      &.selected {
        background: $breadcrumbs-color;
        label {
          color: $white-color;
        }
      }
      input {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  .offer-currency, .offer-premium {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    height: 30px;
    select {
      /* Reset Select */
      width: 60px;
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      /* Personalize */
      padding: 7px 10px;
      color: $white-color;
      background-color: $breadcrumbs-color;
      background-image: none;
      cursor: pointer;
      text-align: center;
    }
    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }
    /* Custom Select wrapper */
    .select {
      position: relative;
      display: flex;
      width: 20em;
      height: 3em;
      border-radius: .25em;
      overflow: hidden;
    }
    /* Arrow */
    .select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
      background-color: $breadcrumbs-color;
      transition: .25s all ease;
      pointer-events: none;
    }
    /* Transition */
    .select:hover::after {
      color: $breadcrumbs-color;
    }
    label {
      color: $white-color;
      padding: 0 20px;
    }
  }
  .apply-filter-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    height: 30px;
    button {
      padding: 0 15px;
      background: $white-color;
      color: $breadcrumbs-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      svg {
        font-size: 20px;
      }
    }
    svg {
      font-size: 40px;
      color: $white-color;
      transform: rotate(90deg);
      cursor: pointer;
      &:hover {
        color: $breadcrumbs-color;
      }
    }
  }
}