* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.block {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#bitcoin {
	background-image: url("/icon/bitcoin.svg");
}
