@font-face {
  font-family: 'lexend';
  src: url('/public/fonts/lexend.variable.ttf');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	//font-family: "Poppins", sans-serif;
	font-family: "lexend";
}

.block {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.block-without-height {
  width: 100vw;
  display: flex;
}

.main-container {
  background: #272b33;
  padding: 100px 40px;
  width: 100%;
  min-height: 100vh;
}
