// Background
$black-main-color: #272b33;
$market-filter-color: #252525;
$error-reload-color: #5dbc61;

// Palette
$orange-header-color: #e6932d; // not in use
$orange-main-color: #e6942c;
$orange-secondary-color: #ffe3c4;
$mobile-menu-background-color: #ffc570;
$breadcrumbs-color: #f2604c;
$not-active-icon: #514d49;
$white-color: #fffffe;

$market-offfer-online: #45ea45;
$market-offfer-recent: #d99313;
$market-offfer-offline: #9f4646;

$ln-p2p-main-color: #00b0c0;
$ln-p2p-border-color: #00b0c078;


// Shadows
$card-shadow-primary-color: #000000;
$card-shadow-secondary-color: #484848;
$bushido-stamp-shadow-primary-color: #1c1e23;
$bushido-stamp-shadow-secondary-color: #7389b8;
$market-tooltip-color: rgb(128 128 128 / 50%);

//Fonts
$card-description-color: #6B6B6B;// Not in use
$grey-legend-color: #72757e;
$header-icon-color:#4a4a4a;

// Gradient
$footer-gradient-finish-color: #1e2127;

// Lines
$mobile-menu-separator-color: #e5e5e5;

// Others
$mail-color: #6d4aff;
$health-ok-color: #4ca875;


//#e5942c
//#edc898 //virtutes not selected circle

// Background
$black-main-color-a: #191e2a;

// Palette
$orange-main-color-a: #fe662b;

//@import "~/components/pages/styles/colors.scss";