@media (min-width: 2800px) {
  .breadcrumb-block {
    margin-top: 100px;
    padding: 20px 80px;
    #list-breadcrumbs {
      svg {
        font-size: .9rem;
      }
      span {
        font-size: .8rem;
      }
    }
    #list-breadcrumbs-legend {
      font-size: .7rem;
    }
  }
}

@media (min-width: 2100px) and (max-width: 2799px) {
  .breadcrumb-block {
    margin-top: 80px !important;
    #list-breadcrumbs-legend {
      margin-bottom: 30px !important;
    }
  }
}

@media (min-width: 1680px) and (max-width: 2799px) {
  .breadcrumb-block {
    margin-top: 60px;
    margin-left: 120px;
    #list-breadcrumbs {
      svg {
        font-size: 1rem;
      }
      span {
        font-size: .9rem;
      }
    }
    #list-breadcrumbs-legend {
      margin: 15px 40px;
      font-size: .8rem;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .breadcrumb-block {
    margin-top: 30px;
    padding-left: 120px;
    #list-breadcrumbs span {
      font-size: 1rem;
    }
    #list-breadcrumbs-legend {
      margin: 15px 40px;
      font-size: .8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .breadcrumb-block {
    margin-left: 100px;
    #list-breadcrumbs span {
      font-size: 1rem;
    }
    #list-breadcrumbs-legend {
      margin: 15px 40px;
      font-size: .8rem;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .breadcrumb-block {
    margin-top: 30px;
    #list-breadcrumbs-legend {
      margin: 15px 0 0 0px;
    }
  }
}