@import "~/components/pages/styles/colors.scss";

.main-container {
  #offer-lists {
    padding: 40px 40px;
    #market-header {
      display: flex;
      padding: 10px;
      justify-content: center;
      color: $grey-legend-color;
      :nth-of-type(1) {
        width: 40px;
      }
      :nth-of-type(6) {
        flex: 2;
      }
      :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5) {
        flex: 1;
        text-align: center;
      }
      span {
        text-align: center;
      }
    }
    ul {
      gap: 15px;
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        &:hover {
          border: 2px solid #563b37;
          padding: 8px;
          border-radius: 4px;
          span {
            color: $breadcrumbs-color !important;
          }
        }
        span {
          flex: 1;
          text-align: center;
        }
        img.exchange-icon {
          height: 25px;
          border-radius: 30px;
        }
        span.maker-online {
          color: $market-offfer-online !important;
        }
        span.maker-recently_online {
          color: $market-offfer-recent !important;
        }
        span.maker-offline {
          color: $market-offfer-offline !important;
        }
        :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6) {
          flex: 1;
          color:$white-color;
        }
        .market-payment-methods {
          display: flex;
          flex: 2;
          justify-content: center;
          align-items: center;
          grid-gap: 20px;
          .payment-icons {
            display: flex;
            justify-content: flex-start;
            grid-gap: 15px;
            .tooltip {
              display: flex;
              position: relative;
              img {
                height: 30px;
                border-radius: 8px;
                &.litecoin, &.liquid {
                  border-radius: 20px;
                }
              }
              .tooltiptext {
                visibility: hidden;
                background-color: $market-tooltip-color;
                color: $white-color !important;
                text-align: center;
                padding: 5px 10px;
                border-radius: 6px;
                top: -40px;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
                font-size: 10px;
                &::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: $market-tooltip-color transparent transparent transparent;
                }
              }
              
              /* Show the tooltip text when you mouse over the tooltip container */
              &:hover .tooltiptext {
                visibility: visible;
              }
            }
          }
          .other-payments {
            display: flex;
            justify-content: flex-start;
            grid-gap: 5px;
            color: $white-color;
          }
        }
      }
    }
  }
}

@import "../responsive/market.responsive.scss";
