#landing-view {
  background-image: url('/public/img/cover/cover-2.png');
  background-size: cover;
  //background-image: -webkit-linear-gradient(-30deg, #272b33 50%, #1a1f23 50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    background: #e6932d;
    height: 60px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .custom-shape-divider-bottom-1649918002 {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .custom-shape-divider-bottom-1649918002 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 90px;
  }
  .custom-shape-divider-bottom-1649918002 .shape-fill {
      fill: #272b33;
  }
}