@media (min-width: 320px) and (max-width: 1279px) {
  #offer-filter {
    #filter-display {
      #description {
        h1, .highlight {
          font-size: .8rem !important;
        }
      }
      #filter-action {
        svg {
          font-size: 1rem;
        }
        &.active {
          svg {
            transform: rotate(180deg);
            font-size: 2rem;
          }
        }
      }
      #price {
        #keyword {
          font-size: .7rem;
        }
        #number {
          font-size: 1.2rem;
          height: 15px;
          div {
            margin-top: -10px;
            .bar-loader {
              height: 15px;
              width: 2px;
            }
            .bar-loader::after, .bar-loader::before {
              height: 15px;
              width: 2px;
              animation: responsive_animloader 0.3s  0.45s  linear infinite alternate;
            }
          }
        }
      }
    }
    #filter-configurator #filter {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-gap: 15px;
      padding: 10px 20px;
      z-index: 1;
      .offer-direction {
        height: 20px;
        .offer-switch {
          .direction {
            font-size: .7rem;
            padding: 5px 10px;
          }
        }
      }
      .offer-exchange {
        height: 20px;
        .exchange {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          label {
            font-size: .8rem;
          }
        }
      }
      .offer-currency, .offer-premium {
        select {
          padding: 2px 10px;
          font-size: .8rem;
        }
        label {
          font-size: .7rem;
        }
      }
      .apply-filter-block {
        width: 90%;
        svg {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  #offer-filter {
    #filter-display {
      #description {
        h1, span {
          font-size: .75rem;
        }
      }
      #filter-action {
        svg {
          font-size: 1rem;
        }
        &.active {
          svg {
            transform: rotate(180deg);
            font-size: 2rem;
          }
        }
      }
      #price {
        #keyword {
          font-size: .7rem;
        }
        #number {
          font-size: 1.2rem;
          height: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #offer-filter {
    #filter-display {
      padding-bottom: 20px;
      #description {
        h1, span {
          font-size: 1rem;
          font-weight: 400;
        }
      }
      #filter-action {
        svg {
          font-size: 1.5rem;
        }
        &.active {
          svg {
            font-size: 2.5rem;
          }
        }
      }
      #price {
        #keyword {
          font-size: .8rem;
        }
        #number {
          font-size: 1.5rem;
          height: 15px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  #offer-filter {
    #filter-display {
      #description {
        h1, span {
          font-size: .9rem;
          font-weight: 400;
        }
      }
      #filter-action {
        svg {
          font-size: 1.5rem;
        }
        &.active {
          svg {
            transform: rotate(180deg);
            font-size: 2rem;
          }
        }
      }
      #price {
        #keyword {
          font-size: .8rem;
        }
        #number {
          font-size: 1.2rem;
          height: 15px;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  #offer-filter {
    margin-top: 50px;
    padding: 0 5vw;
    #filter-display {
      #description {
        h1 {
          font-size: .8rem;
          span.highlight {
            font-size: .8rem
          }
        }
      }
      #price {
        #keyword {
          font-size: .8rem;
        }
        #number{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 1680px) and (max-width: 2099px) {
  #offer-filter {
    margin-top: 100px;
    padding: 0 5vw;
    #filter-display {
      #description {
        h1 {
          font-size: .8rem;
          span.highlight {
            font-size: .8rem
          }
        }
      }
      #price #number{
        font-size: 1.2rem;
      }
    }
    #filter-configurator #filter {
      .offer-currency {
        select {
          width: 70px;
        }
        label {
          font-size: .7rem;
        }
      }
      .apply-filter-block svg {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 2100px) and (max-width: 2799px) { 
  #offer-filter {
    margin-top: 120px;
    padding: 0 5vw;
    #filter-display {
      #description {
        h1 {
          font-size: .8rem;
          span.highlight {
            font-size: .8rem
          }
        }
      }
      #price #number{
        font-size: 1.2rem;
      }
    }
    #filter-configurator #filter {
      padding: 35px 100px;
      .offer-direction, .offer-exchange {
        height: 40px;
      }
      .offer-currency {
        select {
          width: 90px;
        }
        label {
          font-size: .7rem;
        }
      }
      .apply-filter-block svg {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 2800px) {
  #offer-filter {
    margin-top: 150px;
    padding: 0 5vw;
    #filter-display {
      padding-bottom: 30px;
      #description {
        h1 {
          font-size: .8rem;
          span.highlight {
            font-size: .8rem
          }
        }
      }
      #price #number{
        font-size: 1.2rem;
      }
    }
    #filter-configurator #filter {
      padding: 35px 100px;
      .offer-direction {
        height: 50px;
      }
      .offer-exchange {
        height: 50px;
        .exchange{
          padding: 10px;
        }
      }
      #filter .offer-currency, #filter .offer-premium {
        height: 50px;
      }
      .offer-currency {
        select {
          width: 90px;
        }
        label {
          font-size: .7rem;
        }
      }
      .apply-filter-block {
        height: 50px;
        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@keyframes responsive_animloader {
  0%   { height: 15px} 
  100% { height: 4px}
}