@use "sass:math";
@import "~/components/pages/styles/colors.scss";

$color_secondary: #edc898;

$point_count: 7;
$default_point_radius: 16px;
$default_circle_radius: 160px;
$start_anim_delta: 5;

.navigation-circle {
	display: block;
	position: relative;
	height: $default_circle_radius * 2;
	width: $default_circle_radius * 2;
	margin: auto;

	&__inner {
		display: block;
		position: relative;
		height: 100%;
		width: 100%;
	}

	&__list {
		display: block;
		position: absolute;
		height: $default_circle_radius * 2;
		width: $default_circle_radius * 2;
		transform: rotate(-90deg);
		animation: #{1 + (calc($point_count / $start_anim_delta) - calc(1 / $start_anim_delta))}s
			cubic-bezier(0.25, -0.25, 0.35, 1) 0 1 animate-in-list forwards;
	}
}

.navigation-circle-svg {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: rotateZ(-90deg);

	&--opaque {
		opacity: 0.5;
		//enable-background:new 0 0 320 320;
		circle {
			stroke-dashoffset:0;
			stroke-dasharray:none;
		}
	}

	&--mask {
		//enable-background:new 0 0 320 320;
		circle {
			stroke-dasharray: 1005.3088px;
			transition: all 0.5s ease;
			transition-delay: 0.5s;
			animation: #{1 +((calc($point_count / $start_anim_delta)) - calc(1 / $start_anim_delta))}s
				ease 0 1 animate-in-svg-circle-mask backwards;
		}
	}
}

.navigation-circle-list-item {
	display: block;
	position: absolute;
	height: 0;
	width: calc(50% + #{$default_point_radius});
	top: 50%;
	left: 50%;
	list-style: none;
	transform-origin: 0 0;

	&__point {
		display: block;
		position: absolute;
		height: $default_point_radius * 2;
		width: $default_point_radius * 2;
		top: -#{$default_point_radius};
		right: 2px;
		cursor: pointer;
		transform: scale(0);

		&:before {
			display: block;
			position: absolute;
			height: $default_point_radius * 2;
			width: $default_point_radius * 2;
			top: 0;
			color: $orange-main-color;
			background-color: $orange-secondary-color;
			font-size: .7rem;
			font-weight: 400;
			line-height: $default_point_radius * 2;
			text-align: center;
			border: 2px solid $orange-main-color;
			border-radius: 50%;
			box-shadow: inset 0px 0px 0px 0px $orange-main-color;
			transform: scale(0.75);
			transition: all 0.5s ease;
		}

		&#rule-1:before {
			transform: rotate(38deg);
			content: "義";
		}
		&#rule-2:before {
			transform: rotate(-12deg);
			content: "礼";
		}
		&#rule-3:before {
			transform: rotate(-65deg);
			content: "勇気";
		}
		&#rule-4:before {
			transform: rotate(-115deg);
			content: "名誉";
		}
		&#rule-5:before {
			transform: rotate(-168deg);
			content: "仁";
		}
		&#rule-6:before {
			transform: rotate(143deg);
			content: "誠";
		}
		&#rule-7:before {
			transform: rotate(91deg);
			content: "忠義";
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 0px;
			top: 18px;
			left: 31px;
			background-color: $orange-main-color;
			transition: all 0.5s ease;
		}
	}

	&__meta {
		display: block;
		position: absolute;
		overflow: hidden;
		opacity: 0;
		transform-origin: center;
		margin-left: 40px;
		min-width: 120px;
		padding: 4px;
	}

	&__title {
		display: block;
		color: $color_secondary;
		text-align: center;
		font-size: 10px;
		border-bottom: 1px solid $color_secondary;
		padding-bottom: 4px;
		margin-bottom: 6px;
	}

	&__subtitle {
		display: block;
		color: $color_secondary;
		text-align: center;
		font-weight: 200;
		font-size: 8px;
	}
}

@for $i from 1 through $point_count {
	.navigation-circle-list-item:nth-of-type(#{$i}) {
		transform: rotateZ(calc((360deg / #{$point_count}) * #{$i}));
	}

	.navigation-circle-list-item:nth-of-type(#{$i})
		.navigation-circle-list-item__meta {
		$angle: calc(360deg / $point_count) * $i;
		$rotateZ: 90 - $angle;

		transform: rotateZ(#{$rotateZ});
	}

	.navigation-circle-list-item:nth-of-type(#{$i})
		.navigation-circle-list-item__point {
		animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) #{calc($i / $start_anim_delta) - calc(1 /
			$start_anim_delta)}s 1 animate-in-list-item-point forwards;
	}
}

.navigation-circle-list-item:hover .navigation-circle-list-item__point:before {
	transform: scale(1);
	font-size: $default_point_radius;
}

.navigation-circle-list-item:hover .navigation-circle-list-item__point:after {
	width: $default_point_radius * 2;
	left: $default_point_radius * 2 + 2;
	z-index: -1;
}

.navigation-circle-list-item:hover .navigation-circle-list-item__meta {
	opacity: 1;
}

.navigation-circle-list-item:active .navigation-circle-list-item__point:before,
.navigation-circle-list-item.active .navigation-circle-list-item__point:before {
	transform: scale(0.85);
	color: $orange-secondary-color;
	box-shadow: inset 0px 0px 0px $default_point_radius $orange-main-color;
	border-color: transparent;
}
.navigation-circle-list-item:active .navigation-circle-list-item__point:after,
.navigation-circle-list-item.active .navigation-circle-list-item__point:after {
	width: $default_point_radius * 2 + 2;
	left: $default_point_radius * 2;
	z-index: -1;
}

.navigation-circle-list-item:active .navigation-circle-list-item__meta,
.navigation-circle-list-item.active .navigation-circle-list-item__meta {
	opacity: 1;
}

.navigation-circle-list-item__meta .navigation-circle-list-item__title {
	border-color: #e5942c;
	font-size: .7rem;
}

.navigation-circle-list-item__meta .navigation-circle-list-item__subtitle {
	font-size: .6rem;
}


@keyframes animate-in-list {
	0% {
		transform: rotate(-540deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

@keyframes animate-in-svg-circle-mask {
	0% {
		stroke-dashoffset: 1005;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes animate-in-list-item-point {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@import "../responsive/virtutes/info.responsive.scss";
@import "../responsive/virtutes/circle.responsive.scss";