/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

/* 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}*/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: 14px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 992px to 1280px
*/
@media (min-width: 992px) and (max-width: 1279px) {
  :root {
    font-size: 14px;
  }
}

/* 
  ##Device = Desktops, retina displays
  ##Screen = 1440px to higher resolution desktops
*/
@media (min-width: 1280px) and (max-width: 1679px) {
  :root {
    font-size: 16px;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1679px to higher resolution desktops
*/
@media (min-width: 1680px) and (max-width: 2099px) {
  :root {
    font-size: 22px;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 2100px to higher resolution desktops
*/
@media (min-width: 2100px) and (max-width: 2799px) {
  :root {
    font-size: 28px;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 2800px to higher resolution desktops
*/
@media (min-width: 2800px) {
  :root {
    font-size: 35px;
  }
}