@import "~/components/pages/styles/colors.scss";

@font-face {
  font-family: 'orbitron';
  src: url('/public/fonts/play-regular.ttf');
}

#module-view {
  .divider {
    position: absolute;
    .shape-fill {
      fill: $black-main-color;
    }
  }
  .module-content {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='4000' height='4000' preserveAspectRatio='none' viewBox='0 0 4000 4000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='4000' height='4000' x='0' y='0' fill='rgba(255%2c 197%2c 112%2c 1)'%3e%3c/rect%3e%3cpath d='M1000 822.22C516.49 707.47 296.97 933.83 0 689.66C-203.03 522.72 -204.08 140.75 0 0C295.92 -204.08 500 0 1000 0C1500 0 1500 0 2000 0C2500 0 2500 0 3000 0C3500 0 3736.11 -236.11 4000 0C4236.11 211.26 4051.39 470.8 4000 894.74C3990.78 970.8 3878.79 956.39 3878.79 1000C3878.79 1036.05 3992.54 992.53 4000 1054.05C4053.15 1492.53 4000 1527.02 4000 2000C4000 2372.34 4140.61 2457.61 4000 2744.68C3895.71 2957.61 3711.55 2819.52 3510.2 3000C3211.55 3267.7 3237.18 3308.43 3000 3641.03C2880.63 3808.43 2967.57 3938.81 2797.1 4000C2467.57 4118.29 2398.55 4000 2000 4000C1500 4000 1500 4000 1000 4000C500 4000 250 4250 0 4000C-250 3750 0 3500 0 3000C0 2500 0 2500 0 2000C0 1566.18 -230.84 1297.24 0 1132.35C269.16 940.09 537.93 1332.48 1000 1285.71C1191.77 1266.3 1307.69 1125.52 1307.69 1000C1307.69 893.77 1170.33 862.64 1000 822.22' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1000 266.67C665.03 96.25 294.12 68.89 294.12 0C294.12 -64.44 647.06 0 1000 0C1500 0 1500 0 2000 0C2500 0 2500 0 3000 0C3500 0 3595.74 -95.74 4000 0C4095.74 22.68 4074.29 152.3 4000 236.84C3634.9 652.3 3121.21 683.84 3121.21 1000C3121.21 1261.37 3730.76 1085.52 4000 1391.89C4170.16 1585.52 4000 1695.95 4000 2000C4000 2239.36 4149 2329.72 4000 2478.72C3649 2829.72 3487.02 3029.16 3000 3000C2487.02 2969.29 2513.85 2654.82 2000 2358.97C1645.43 2154.82 1263.16 2231.8 1263.16 2000C1263.16 1718.98 1601.5 1623.53 2000 1333.33C2288.1 1123.53 2636.36 1122.17 2636.36 1000C2636.36 889.47 2292.69 999.09 2000 867.92C1474.51 632.42 1517.97 530.21 1000 266.67' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1500C291.08 1500 845.6 1666.11 871.79 2000C904.43 2416.11 188.53 2470.31 117.65 3000C54.72 3470.31 642.29 3676.02 604.17 4000C583.46 4176.02 113.77 4188.31 0 4000C-188.31 3688.31 0 3500 0 3000C0 2500 0 2500 0 2000C0 1750 -144.82 1500 0 1500' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1387.76 4000C1387.76 3843.86 1717.13 3454.55 2000 3454.55C2240.64 3454.55 2434.78 3831.99 2434.78 4000C2434.78 4104.72 2217.39 4000 2000 4000C1693.88 4000 1387.76 4116.58 1387.76 4000' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2000 396.23C1681.34 396.23 1382.35 107.57 1382.35 0C1382.35 -90.54 1691.18 0 2000 0C2388.89 0 2777.78 -93.35 2777.78 0C2777.78 104.77 2379.05 396.23 2000 396.23' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1867.65C77.05 1867.65 230.77 1910.77 230.77 2000C230.77 2126.95 64.37 2300 0 2300C-51.02 2300 0 2150 0 2000C0 1933.82 -38.33 1867.65 0 1867.65' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2733.33 2000C2733.33 1924.21 2850.45 1871.91 3000 1840C3483.79 1736.77 3605.88 1666.67 4000 1729.73C4105.88 1746.67 4000 1864.86 4000 2000C4000 2106.39 4087.52 2200.7 4000 2212.77C3587.52 2269.66 3487.41 2219.8 3000 2137.93C2854.07 2113.42 2733.33 2073.17 2733.33 2000' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 3840C22.08 3840 83.33 3945.28 83.33 4000C83.33 4025.28 14.27 4027.4 0 4000C-27.4 3947.4 -19.58 3840 0 3840' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1897.96 4000C1897.96 3973.98 1952.85 3909.09 2000 3909.09C2040.1 3909.09 2072.46 3972 2072.46 4000C2072.46 4017.45 2036.23 4000 2000 4000C1948.98 4000 1897.96 4019.43 1897.96 4000' stroke='rgba(255%2c 159%2c 24%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='4000' height='4000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    padding: 350px 100px 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 90px;
    .module-block {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon-block {
        margin-bottom: 250px;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 150px;
        background: transparent;
        border: $not-active-icon solid 4px;
        cursor: pointer;
        svg {
          font-size: 2.5rem;
          color: $not-active-icon;
        }
        &:hover {
          border-color: $orange-main-color;
          background: $not-active-icon;
          svg {
            color: $orange-main-color;
            font-size: 3rem;
          }
        }
      }
      .description-block, .description-block span {
        //font-family: 'orbitron';
        font-size: 1rem;
        text-align: center;
        color: $grey-legend-color;
        span {
          font-weight: bold;
          color: $orange-main-color;
        }
      }
    }
  }
}



@import './responsive/modules.responsive.scss';