@import "~/components/pages/styles/colors.scss";

.market-loader-container {

  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

$loader-secondary-color: white;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2-market {
  0% {
    transform: rotate(0deg);
    border-top-color: $breadcrumbs-color;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $loader-secondary-color;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $breadcrumbs-color;
  }
}
@keyframes rotate2-explorer {
  0% {
    transform: rotate(0deg);
    border-top-color: $orange-main-color;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $loader-secondary-color;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $orange-main-color;
  }
}
@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}
.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  div {
    height: 100%;
  }
}
.loader2, .loader2 div {
  @include loaderDivMixin;
  border-top-color: $breadcrumbs-color;
  border-left-color: $loader-secondary-color;
  animation-timing-function: cubic-bezier(.55, .38, .21, .88);
  animation-duration: 3s;
}
.loader1, .loader1 div {
  @include loaderDivMixin;
  border-radius: 50%;
  padding: 4px;
  animation: rotate2-market 4s infinite linear;
}
div:hover {
  animation-play-state: paused;
}
.loader, .loader * {
  will-change: transform;
}

.explorer-loader .loader2, .explorer-loader .loader2 div {
  border-top-color: $orange-main-color;
}
.explorer-loader .loader1, .explorer-loader .loader1 div {
  animation: rotate2-explorer 4s infinite linear;
}

@import "./responsive/circle-loader.responsive.scss";