@import "~/components/pages/styles/colors.scss";

#cards-container, #list-container, .main-container {
  .topic-error-block {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > svg {
      fill: $breadcrumbs-color;
      font-size: 3em;
      margin-bottom: 50px;
    }
    h1 {
      color: $orange-secondary-color;
      font-size: 1.5em;
    }
    button {
      padding: 10px 20px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background: $orange-main-color;
      color: $orange-secondary-color;
      cursor: pointer;
      svg {
        font-size: 1.5em;
        margin-right: 10px;
      }
    }
  }
}
