.breadcrumb-block {
  #list-breadcrumbs {
    display: flex;
    align-items: center;
    color: #F25F4C;
    span {
      font-size: 1.2rem;
    }
    svg {
      margin-right: 20px;
      font-size: 1.2rem;
      &:hover {
        color: #ffe3c4;
        cursor: pointer;
      }
    }
    span {
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    span:last-child {
      &:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }
  #list-breadcrumbs-legend {
    margin: 15px 0 0 50px;
    color: #72757e;
    font-size: 1rem;
  }
}

@import "./responsive/breadcrumbs.responsive.scss";