@import "~/components/pages/styles/colors.scss";

#cards-container {
  display: flex;
  justify-content: center;
}
#container-list {
  margin: 50px 100px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 30px;
  .topic-card {
    .icon {
      &#sidechain {
        transform: rotate(90deg);
      }
    }
    .topic-description, .topic-name {
      user-select: none;
    }
  }
}
#list-container {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  .domain-card {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    cursor: pointer;
    .img-container {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      .domain-img {
        height: 25px;
        filter: grayscale(85%);
        &#img-Blockplate {
          background: $breadcrumbs-color;
          border-radius: 5px;
        }
      }
    }
    .text-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      .domain-name {
        color: $orange-main-color;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .domain-description {
        color:$orange-secondary-color;
        font-weight: 100;
        font-size: 1rem;
        font-weight: 300;
      }
    }
    .view-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 8%;
      color: $not-active-icon;
    }
    .language-container {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 5%;
      img {
        height: 1rem;
        filter: grayscale(1);
        border-radius: 10px;
      }
    }
    &:hover {
      background: #2a2e37;
      border-radius: 10px;
      border: 1px solid #2a2e37;
      .img-container img{
        filter: grayscale(0);
        height: 35px;
      }
      .view-container {
        svg, span {
          color: $orange-main-color;
        }
      }
      .language-container img {
        filter: none;
      }
    }
  }
}

@import "./responsive/explorer.responsive.scss"