/* 
  ##Device = Desktops
  ##Screen = 2800px to higher resolution desktops
*/
@media (min-width: 2800px) {
  #description-view {
    .circle-block {
      .legend-block h1 {
        font-size: 2em;
      }
    } 
  }
}

/* 
  ##Device = Desktops
  ##Screen = 2000px to higher resolution desktops
*/
@media (min-width: 1680px) and (max-width: 2799px) {
  #description-view {
    .circle-block {
      margin-top: 50px;
      .legend-block h1 {
        font-size: 1.4em;
      }
    } 
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1679px) {
  #description-view {
    padding: 40px;
    .circle-block {
      flex-direction: column;
      margin-top: 40px;
      .main {
        margin: 100px 0 60px;
      }
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  #description-view {
    padding: 40px;
    .circle-block {
      flex-direction: column;
      margin-top: 40px;
      .main {
        margin: 100px 0 60px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #description-view {
    padding: 40px;
    .circle-block {
      flex-direction: column;
      margin-top: 40px;
      .main {
        margin: 100px 0 60px;
      }
    }
  }
}