/* 
  ##Device = Tablets, Ipads (portrait), desktop
  ##Screen = B/w 768px to 1280px
*/
@media (min-width: 768px) and (max-width: 1280px) {
  #landing-view {
    #quotes-block {
      height: 70vh;
      #quote-container {
        top: 50%;
        #headline {
          font-size: 2.2rem;
        }
        #secondary {
          font-size: 1rem;
        }
      }
    }
  } 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  #landing-view {
    #quotes-block {
      height: 70vh;
      #quote-container {
        top: 50%;
        #headline {
          font-size: 2.2rem;
        }
        #secondary {
          font-size: 1rem;
        }
      }
    }
  } 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

  #landing-view {
    #quotes-block {
      height: 70vh;
      #quote-container {
        top: 50%;
        #headline {
          font-size: 2rem;
        }
      }
    }
  } 
}