@font-face {
  font-family: 'orbitron';
  src: url('/public/fonts/play-regular.ttf');
}

#description-view {
  background: #272b33; 
  padding: 80px 100px 80px;
  flex-wrap: wrap;
  align-items: center;
  .description-text {
    font-family: 'orbitron';
    font-size: 1.5rem;
    color: #ffe3c4;
    font-weight: 200;
    .highlight {
      font-family: 'orbitron';
      color: #e5942c;
      font-size: 1.5rem;
    }
  }
  .circle-block {
    margin-top: 80px;
    display: flex;
    div.main {
      flex: 2;
    }
    .legend-block {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      grid-gap: 30px;
      h1 {
        font-family: 'orbitron';
        color: #72757e;
        font-size: .9em;
      }
    }
  }
}

@import "./responsive/description.responsive.scss";