#landing-view {
  background-image: url('/public/img/cover/cover-2.webp');
  background-size: cover;
  //background-image: -webkit-linear-gradient(-30deg, #272b33 50%, #1a1f23 50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #bushido-quote-container {
    padding: 100px 200px;
    #headline {
      color: #e6932d;
      text-align: center;
      font-size: 80px;
    }
    #secondary {
      color: #ffe3c4;
      text-align: center;
      margin-top: 50px;
      font-size: 20px;
    }
  }
  .custom-shape-divider-bottom-1649918002 {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .custom-shape-divider-bottom-1649918002 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 90px;
  }
  .custom-shape-divider-bottom-1649918002 .shape-fill {
      fill: #272b33;
  }
}