@import "~/components/pages/styles/colors.scss";

#landing-view {
  background-image: url('/public/img/cover/cover-2.webp');
  background-size: cover;
  //background-image: -webkit-linear-gradient(-30deg, #272b33 50%, #1a1f23 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #quotes-block {
    height: 70vh;
    width: 100%;
    #quote-container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      #headline {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: $orange-main-color;
        text-align: center;
        //font-size: 80px;
        font-size: 2rem;
        height: 15vh;
        font-weight: 600;
      }
      #secondary {
        color: $orange-secondary-color;
        text-align: center;
        padding-top: 30px;
        height: 5vh;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  .pagination-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    width: 75%;
    padding-right: 20px;
    svg {
      fill: $orange-secondary-color;
      font-size: .8rem;
      cursor: pointer;
      &.selected {
        fill: $orange-main-color;
        font-size: 1.2rem;
        cursor:auto
      }
    }
  }
  .custom-shape-divider-bottom-1649918002 {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .custom-shape-divider-bottom-1649918002 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 90px;
  }
  .custom-shape-divider-bottom-1649918002 .shape-fill {
      fill: $black-main-color;
  }
}

@import "./responsive/landing.responsive.scss"