&.root-number-1 {
  background-image: url(/img/cards/root/stacked-waves-a.svg);
}
&.root-number-2 {
  background-image: url(/img/cards/root/stacked-waves-b.svg);
}
&.root-number-3 {
  background-image: url(/img/cards/root/stacked-waves-c.svg);
}
&.root-number-4 {
  background-image: url(/img/cards/root/stacked-waves-d.svg);
}
&.root-number-5 {
  background-image: url(/img/cards/root/stacked-waves-e.svg);
}

@media (min-width: 1680px) {
  &.root-number-1 {
    background-image: url(/img/cards/root/responsive/stacked-waves-a-responsive.svg);
  }
  &.root-number-2 {
    background-image: url(/img/cards/root/responsive/stacked-waves-b-responsive.svg);
  }
  &.root-number-3 {
    background-image: url(/img/cards/root/responsive/stacked-waves-c-responsive.svg);
  }
  &.root-number-4 {
    background-image: url(/img/cards/root/responsive/stacked-waves-d-responsive.svg);
  }
  &.root-number-5 {
    background-image: url(/img/cards/root/responsive/stacked-waves-e-responsive.svg);
  }
}
// Branch cards backgrounds
&.branch-number-1 {
  background-image: url(/img/cards/branch/blob-scene-a.svg);
}
&.branch-number-2 {
  background-image: url(/img/cards/branch/blob-scene-b.svg);
}
&.branch-number-3 {
  background-image: url(/img/cards/branch/blob-scene-c.svg);
}
&.branch-number-4 {
  background-image: url(/img/cards/branch/blob-scene-d.svg);
}
&.branch-number-5 {
  background-image: url(/img/cards/branch/blob-scene-e.svg);
}
// Leaf cards backgrounds
&.leaf-number-1 {
  background-image: url(/img/cards/leaf/blob-a.svg);
}
&.leaf-number-2 {
  background-image: url(/img/cards/leaf/blob-b.svg);
}
&.leaf-number-3 {
  background-image: url(/img/cards/leaf/blob-c.svg);
}
&.leaf-number-4 {
  background-image: url(/img/cards/leaf/blob-d.svg);
}
&.leaf-number-5 {
  background-image: url(/img/cards/leaf/blob-e.svg);
}
&.leaf-number-6 {
  background-image: url(/img/cards/leaf/blob-f.svg);
}
&.leaf-number-7 {
  background-image: url(/img/cards/leaf/blob-g.svg);
}
&.leaf-number-8 {
  background-image: url(/img/cards/leaf/blob-h.svg);
}
&.leaf-number-9 {
  background-image: url(/img/cards/leaf/blob-i.svg);
}
&.leaf-number-10 {
  background-image: url(/img/cards/leaf/blob-j.svg);
}
&.leaf-number-11 {
  background-image: url(/img/cards/leaf/blob-k.svg);
}