.topic-card {
  width: 155px;
  height: 90px;
  border-radius: 15px;
  margin: 10px;
  &.root-number-1 {
    background-image: url(/img/cards/root/stacked-waves-a.svg);
  }
  &.root-number-2 {
    background-image: url(/img/cards/root/stacked-waves-b.svg);
  }
  &.root-number-3 {
    background-image: url(/img/cards/root/stacked-waves-c.svg);
  }
  &.root-number-4 {
    background-image: url(/img/cards/root/stacked-waves-d.svg);
  }
  &.root-number-5 {
    background-image: url(/img/cards/root/stacked-waves-e.svg);
  }
  .topic-name {
    font-size: 15px;
  }
  // Imports backgrounds
  @import './rules/background.style';
  @import './rules/icon.style';
  @import './rules/shadow.style';
  @import './rules/pseudo-classes.style';
}