.icon {
  color: #45484b;
  &.react-icons {
    display: flex;
    justify-content: left;
    height: 25px;
    width: inherit;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 1.4em;
  }
  &.custom-svg {
    height: 25px;
    width: 5em;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: left;
    svg {
      width: 35%;
    }
  }
}
