.icon {
  color: $grey-legend-color;
  &.react-icons svg {
    font-size: 1.5rem;
    margin-top: 8px;
  }
  &.custom-svg svg {
    width: 2.5rem;
  }
  path {
    stroke: $grey-legend-color;
  }
  &#privacy + .topic-name {
    width: 60%;
  }
}
