/* For mobile phones: */
@media only screen and (max-width: 576px) and (orientation: portrait) {
  #virtutes-view {
    .navigation-circle {
      height: 250px;
      width: 250px;
      ul {
        height: 100%;
        width: 100%;
        li {
          .navigation-circle-list-item__point:after {
            left: unset!important;
          }
          // Move the tag to the center
          .navigation-circle-list-item__meta {
            right: 80px;
          }
        }
        .navigation-circle-list-item:active .navigation-circle-list-item__point:after,
        .navigation-circle-list-item.active .navigation-circle-list-item__point:after {
          width: 70px;
          right: 30px;
        }
        // Fix when we inactive interaction
      }
    }
  }
}