@import "~/components/pages/styles/colors.scss";

.v4v {
  height: 30px;
  background: $v4v-message;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  &.hidden {
    height: 1px;
    background: #f2ba5e;
  }
  #alby-v4v {
    margin-left: 20px;
    display: flex;
    img {
      width: 1.2rem;
    }
  }
  #value-message {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
      path {
        color: orange;
      }
    }
  }
  #close-v4v {
    //position: absolute;
    margin-right: 10px;
    cursor: pointer;
    svg path {
      color: white;
    }
  }
}

#bushido-header {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 40px 0 10px;
  #name-container {
    margin-left: 50px;
    flex-grow: 1;
    display: flex;
    color: $orange-secondary-color;
    a {
      all: unset;
      cursor: pointer;
      display: flex;
      span#dot {
        height: inherit;
        display: flex;
        padding-top: 9px;
        svg {
          width: 6px;
          height: 7px;
          color: $orange-main-color;
        }
      }
    }
    &:hover span {
        color: $white-color;
    }
  }
  #menu-container {
    flex-grow: 2;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    #menu-drawer__body {
      width: 40vw;
      justify-content: space-evenly;
      display: flex;
      a {
        display: flex;
        align-items: center;
        color: $orange-secondary-color;
        text-decoration: none;
        font-weight: 500;
        svg {
          margin-right: 10px;
          color: $header-icon-color;
        }
        &:hover {
          color: $orange-main-color;
          cursor: pointer;
          svg {
            color: $orange-main-color;
          }
        }
      }
    }
    #menu-drawer__additional {
      display: none;
    }
  }
}

@import "./header.style.responsive.scss";