@import "~/components/pages/styles/colors.scss";

@media (min-width: 320px) and (max-width: 767px) {
  .v4v {
    &.hidden {
      height: 2px;
    }
    span{
      font-size: 0.8rem;
    }
  }
  #bushido-header {
    #menu-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: $mobile-menu-background-color;
      flex-direction: column;
      transform: translateX(-100%);
      transition: 0.5s ease-in;
      z-index: 2;
      display: flex;
      flex-direction: row;
      opacity: 1;
      align-items: inherit;
      opacity: .98;
      #menu-drawer__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 90vw;
        height: 100vh;
        padding: 50px;
        a {
          color: $black-main-color;
          font-weight: 600;
        }
        #bushido-stamp {
          background-size: cover;
          background-image: url("/public/img/cover/bushido_stamp.webp");
          box-shadow: 20px 20px 60px $bushido-stamp-shadow-primary-color,
          -20px -20px 60px $bushido-stamp-shadow-secondary-color;
          height: 215px;
          width: 132px;
          border-radius: 10px;
        }
      }
      &.active {
        transform: translateX(0%);
      }
      #menu-drawer__additional {
        display: flex;
        flex-direction: column;
        width: 20vw;
        padding-top: 125px;
        border-left: 1px solid $mobile-menu-separator-color;
        a {
          display: flex;
          flex-direction: row;
          transform: rotate(-90deg) translateX(-20%);
          transform-origin: center;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $orange-secondary-color;
          font-weight: 600;
          span#dot {
            display: flex;
            justify-content: center;
            height: 10px;
            svg {
              color: $orange-main-color;
            }
          }
        }
      }
    }
    .menu.menu--close {
      display: block;
      z-index: 3;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #bushido-header {
    #menu-container {
      width: 70%;
      box-shadow: 50px 0px 60px 20px $card-shadow-primary-color;
      transform: translateX(-180%);
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #bushido-header {
    #name-container {
      justify-content: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .v4v span{
    font-size: 0.8rem;
  }
  #bushido-header {
    #menu-container {
      #menu-drawer__body {
        a {
          font-size: .8rem;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .v4v span{
    font-size: 0.8rem;
  }
  #bushido-header {
    #name-container {
      a {
        span {
          font-size: 1.1rem;
          &#dot {
            padding-top: 15px;
          }
        }
      }
    }
    #menu-container {
      #menu-drawer__body {
        a {
          font-size: 1.1rem;
          & svg {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1680px) { 
  #bushido-header {
    #name-container {
      a {
        span {
          font-size: 1.1rem;
          &#dot {
            padding-top: 15px;
          }
        }
      }
    }
    #menu-container {
      #menu-drawer__body {
        a {
          font-size: 1.1rem;
          & svg {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 2099px) {
  .v4v {
    &.hidden {
      height: 3px;
    }
  }
}

@media (min-width: 2100px) and (max-width: 2799px) {
  .v4v {
    &.hidden {
      height: 5px;
    }
  }
}

@media (min-width: 2800px) {
  .v4v {
    &.hidden {
      height: 6px;
    }
  }
}