@import "~/components/pages/styles/colors.scss";

#bushido-footer {
  background-image: linear-gradient(to bottom, $black-main-color, $footer-gradient-finish-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  #quote {
    font-size: .8rem;
    color: $grey-legend-color;
  }
  #contact {
    svg {
      fill: $grey-legend-color;
      margin-right: 10px;
      font-size: 1.5rem;
      &:hover {
        fill: $orange-main-color;
        cursor: pointer;
      }
    }
  }
}

@import "./footer.responsive.scss";