#bushido-footer {
  background-image: linear-gradient(to bottom, #272b33, #1e2127);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  #quote {
    font-size: .8rem;
    color: #72757e;
  }
  #contact {
    svg {
      fill: #e5942c;
      margin-right: 10px;
    }
  }
}