.main-container {
  #offer-lists {
    padding: 50px 150px;
    ul {
      gap: 15px;
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        &:hover {
          border: 3px solid #f2604c;
          padding: 7px;
          span {
            color: #f2604c !important;
          }
        }
        span {
          flex: 1;
          text-align: center;
        }
        img.exchange-icon {
          height: 40px;
          border-radius: 30px;
        }
        span.maker-online {
          color: #45ea45;
        }
        span.maker-recently_online {
          color: #d99313;
        }
        span.maker-offline {
          color: #9f4646;
        }
        :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6) {
          flex: 1;
          color:white;
        }
        .market-payment-methods {
          display: flex;
          flex: 2;
          justify-content: center;
          align-items: center;
          grid-gap: 20px;
          .payment-icons {
            display: flex;
            justify-content: flex-start;
            flex: 0;
            grid-gap: 15px;
            img {
              height: 30px;
              border-radius: 8px;
            }
          }
          .other-payments {
            display: flex;
            justify-content: flex-start;
            flex: 0;
            grid-gap: 5px;
            color: white;
          }
        }
      }
    }
  }
}
